%btn {
	display: inline-block;
	border-radius: $fs/3;
	padding: $fs/2 $fs*1.2;
	margin: $fs/3;

	&:hover { 
		transform: scale(.75);
	  background: $bg-clr-b;
	}
}

.btn-primary {
	@extend %btn;
	background: darken($bg-clr-acct, 15);
}

.btn-secondary {
	@extend %btn;
	background: darken($bg-clr-acct, 15);
}