@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&display=swap');

* { margin: 0; padding: 0; box-sizing: border-box;}

$ff: 'Raleway',sans-serif;
$fs: 1.5rem;
$fb: 6.25rem;

$clr-d: #222;
$clr-lgt: #fef;

$bg-clr-b:#788;
$bg-clr-prim: #348;
$bg-clr-sec:#766;
$bg-lin-grad:  linear-gradient(-125deg, #456 20%, #654 80%);


body {
	font: $fs $ff;
	background: $bg-clr-b;
	height: 100vh;
	line-height: 1.6;
}

a { text-decoration: none;}

.showcase {
	background: $bg-clr-prim;
	color: $clr-lgt;
	height: $fb * 6.1;

	  nav {
	    display:flex;
			align-items: center;
			justify-content: space-between;

			  ul {
					display: flex;
					list-style-type: none;
				}
		li {
			padding: $fs/2;
		}

		a:hover, a:focus {
			background: $bg-clr-b;
			color: #f80;
			border: .01rem solid purple;
			border-radius: $fs;
			 padding: $fs/12 $fs/2;
			transition: all .175s ease-in;
		}

	}

	a { color: $clr-lgt;}

	&-content {
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;

		img { width: $fb *5; }

		h1 { 
			font-size: $fb/2;
		line-height: 1.2;}

	}
}

.container {
	max-width: $fb * 11; 
	padding: 0 $fs * 15;
	margin: 0 auto;
	overflow: auto;
}